.tecnique-wrapper {
  cursor: pointer;
  margin: 0px 3px 8px 3px ;
  width: 92%;
  --score-0-color: #57caff;
  --score-1-color: #007bff;
  --score-2-color: #0062cc;
  --score-3-color: #004a99;
  --score-4-color: #003166;
  --score-5-color: #001933;
}
.subtechniques-list-wrapper:hover {
 background-color:  #c9d9f2 ;
 transition: 1s;

}
.subtechniques-list {
  white-space: nowrap;
  height: 100%;
  width: 100%;
}
.subtechniques-list-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  border: 1px solid var(--main-blue-color);
  border-radius: 5px;
  text-align: left;
}
.subtechniques-list-box {
  /* position: relative; */
  z-index: 1;
  padding: 5px;
}
.subtechniques-name {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.subtechniques-id {
  font-weight: 700;
}
.count {
  padding: 10px 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3px;
  bottom: -9px;
  width: 25px;
  height: 17px;
  background: aqua;
  border-radius: 5px;
  color: white;
}
.tooltip-fs {
  font-size: 10px;
  color: black;
  transition: 1s;
}
.ant-tooltip-inner {
  background-color: #f5f8fc !important;
}

.black {
  background-color: var(--score-5-color);
}
.darkBlue {
  background-color: var(--score-4-color);
}
.blue {
  background-color: var(--score-3-color);
}
.lightblue {
  background-color: var(--score-2-color);
}
.light {
  background-color: var(--score-1-color);
}
.color {
  background-color: var(--score-0-color);
}
