.main-button {
    padding: 5px 0;
    font-size: 1.1rem;
    border-radius: 25px;
    height: 8rem;
    width: 15rem;
    white-space: inherit;
    background-color: rgb(103, 150, 190);
    color: white;

    border: none;
    .wrapper {
      .box {
        font-size: 1.1rem;

        .number {
        }
      }
      .name {
        padding-top: 3px;
        line-height: 1.1;
        margin: 0;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
