.mm-header {
  /* height: 20px; */
  width: 100%;
}

.mm-header-h2 {
  background-color: lightgrey;
  margin: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}
